<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>server</title>
  <link rel='stylesheet' href='[[resourcesUrl]]/stylesheets/lib/normalize.min.css?[[version]]' />
  <link rel='stylesheet' href='[[resourcesUrl]]/stylesheets/manager/app.css?[[version]]' />
  <script>
 var GLOBAL={
   webRoot: location.protocol+"//"+location.host,
   version: '{{{version}}}',
   resourcesUrl: '{{{resourcesUrl}}}'
 };
</script>
<body>
  <div id="app">

   <h2>server started</h2>

  </div>

</html>
